<h1>Editing: {{user.name}}</h1>
<form action="/users/update" method="POST" class="form">
    <input type="hidden" name="id" value="{{user.id}}">
    <div class="form-control">
        <label for="name">Name:</label>
        <input type="text" name="name" placeholder="Type user's name:" value="{{user.name}}">
    </div>
    <div class="form-control">
        <label for="occupation">Occupation:</label>
        <input type="text" name="occupation" placeholder="Type user's occupation:" value="{{user.occupation}}">
    </div>
    <div class="form-control form-checkbox">
        {{#if user.newsletter}}
            <input type="checkbox" name="newsletter" checked>
        {{else }}
            <input type="checkbox" name="newsletter">
        {{/if }}
        <label for="newsletter">Send newsletter?</label>
    </div>
    <input type="submit" value="Edit">
</form>
<div class="address-container">
    <h2>Addresses:</h2>
    <form action="/address/create" method="POST">
        <input type="hidden" name="UserId" value="{{user.id}}">
        <div class="form-control">
            <label for="street">Street:</label>
            <input type="text" name="street" placeholder="Type residence's street:">
        </div>
        <div class="form-control">
            <label for="number">Number:</label>
            <input type="text" name="number" placeholder="Type residence's number:">
        </div>
        <div class="form-control">
            <label for="city">City:</label>
            <input type="text" name="city" placeholder="Type residence's city:">
        </div>
        <input type="submit" value="Include address">
    </form>
    <div class="address-list">
        <h2>Addresses list:</h2>
        {{#each user.Addresses}}
            <p>#{{this.id}} - {{this.street}} - {{this.number}} - {{this.city}}</p>
        {{/each }}
    </div>
</div>